Django
djangorestframework-simplejwt
django-restframework
isort
black
pytest
pytest-django
drf-spectacular
drf-spectacular-sidecar
python-dotenv
django-cors-headers
mypy
flake8
autoflake
django-extensions
pillow
sendgrid
django-sendgrid-v5
gunicorn
whitenoise
